#logo {
  height: 80px;
  margin-left: 40px;
}

.nav-container {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  /* display: flex;
  align-items: center; */
  box-shadow: 0 0 25px 0 black;
  width: 100%;
  z-index: 20;
}

.nav-container * {
  display: inline;
  align-items: center;
}
/* .nav-header {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
} */

.nav-li {
  margin-left: 40px;
  margin-right: 40px;
  pading-top: 30px;
}

.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.formRequestButtons {
  background-color: white;
  border: none;
}

.formRequestButtons:hover {
  color: red;
  border: none;
  cursor: pointer;
}

#demo-button {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
}

#demo-button:hover {
  color: red;
}

.about {
  text-decoration: none;
  color: black;
  padding-top: 50px;
}

.about:hover {
  color: red;
}

/* .auth-group {
  position: relative;
  left: 70%;
} */
.right {
  float: right;
  padding-top: 30px;
}

.left {
  float: left;
}

.leftli {
  padding-top: 30px;
  padding-left: 40px;
}

#del {
  cursor: pointer;
}
