.splashContainer {
  height: 100%;
  width: 100%;
  background-image: url("https://besthqwallpapers.com/Uploads/20-8-2019/102154/thumb2-fire-flames-4k-orange-flames-macro-bonfire.jpg");
  background-repeat: no-repeat;
  overflow: none;
  background-size: cover;
  /* background-position: "center"; */
  box-sizing: border-box;
  /* margin-top: 80px; */
  /* padding: 30px; */
  object-fit: cover;
}

#splashTitle {
  color: White;
  padding-top: 130px;
  text-align: center;
}

#splash-list {
  color: white;
  text-align: center;
  list-style: none;
  padding: 50px;
}

#splash-list li {
  padding: 20px;
  font-size: large;
}

#splash-list span {
  color: #ffd12d;
}
