.sauce-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-height: 500px;
  max-width: 500px;
  padding-top: 10px;
  background-color: #aa090d;
  /* display: grid;
  align-items: center;
  justify-content: center; */
}

.sauce-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.words-container {
  padding: 6px 6px;
  /* overflow-y: auto; */
  height: 155px;
  /* border: 1px black solid;
  border-radius: 5px; */
}

.description-container {
  height: 90px;
  margin: 4px;
  overflow-y: auto;
}
/* ::-webkit-scrollbar-track {
  background-color: #aa090d;
} */

.sauce-img {
  height: 250px;
  width: 100px;
  /* object-fit: cover; */
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sauce-name {
  text-decoration: none;
  color: black;
  position: relative;
  text-align: center;
  margin: 4px;
}
#name-parent {
  text-decoration: none;
}
#username {
  margin: 4px;
}

#sauce-name:hover {
  font-weight: bold;
}

.sauces-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  margin-top: 20px;
  background-color: #1b1a15;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.yellow {
  color: #ffd12d;
}

#sauce-description {
  text-align: center;
}

.user-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  margin-top: 20px;
  background-color: #1b1a15;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  border-radius: 5px;
  max-height: 350px;
  max-width: 400px;
  padding-top: 10px;
  background-color: #aa090d;
  /* display: grid;
  align-items: center;
  justify-content: center; */
}

.user-review-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  border-radius: 5px;
  max-height: 350px;
  max-width: 400px;
  padding-top: 10px;
  background-color: #aa090d;
  display: grid;
  align-items: center;
  justify-content: center;
}
.user-review-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-auto-rows: min-content;
  /* align-items: center; */
  justify-content: center;
  grid-gap: 1rem;
  margin-top: 20px;
  background-color: #1b1a15;
  padding-top: 20px;
  padding-bottom: 20px;
  /* position: relative;
  bottom: 189px;
  padding-left: 30px; */
}

.user-page-container {
  /* margin-top: 90px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* align-items: center;
  justify-content: center; */
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#del {
  background-color: #aa090d;
  border: none;
  color: #ffd12d;
  padding: 0;
}

#review-container {
  padding-top: 30px;
}

.header {
  color: #ffd12d;
  margin-top: 100px;
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}
